* {
    margin: 0;
    box-sizing: border-box;
    font-family: Unna;
    text-transform: uppercase;
color:white;
    background-color: rgb(78, 75, 75);
}

h1 {
    margin-left: 3rem;
    margin-top: 2rem;
}

.main-input {
    border: 0.1rem solid black;
    margin-left: 3rem;
}

input {
    height: 2rem;
    width: 15rem;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
   
}

.upload{
    margin: 3rem;
}
.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    cursor: pointer
}

.inputfile:focus + label,
.inputfile + label:hover {
    outline: 1px dotted rgb(0, 0, 0);
	outline: -webkit-focus-ring-color auto 5px;
    background-color:rgb(92, 164, 231);
}

h3 {
    font-size: 1.5rem;
    margin-left: 3rem;
    margin-bottom: 2rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    margin-left: 2rem;
}

.grid {
    width: 21rem;
}

input {
    margin: 2rem;
}

img {
    border-radius: 10px;
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}

p {
    font-size: 1.3rem;
    width: 10rem;
    margin-bottom: 1rem;
}

#more-button {
    margin-left: 50%;
    height: 3rem;
    width: 6rem;
}

.hidden {
    visibility: hidden;
}

.component {
    background-color: grey;
    border: 0.2rem solid black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3rem 30rem 3rem 3rem;
}

.closeX {
    margin-right: 1rem;
    margin-left: 96%;
    font-size: 1.5rem;
}

h2 {
    margin-left: 3rem;
    margin-bottom: 1rem;
    width: 20rem;
}

.clicked-image {
    height: 28rem;
    width: 28rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
}

.img-description {
    width: 30rem;
    height: 20rem;
}
p {
    margin-left: 3rem;
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid black;
}

.comments-component {
    border: 0.1rem solid black;
    height: 100vh;
}

.single-comment {
    border: 0.1rem solid black;
    height: 2rem;
}

@media screen and (min-width: 1px) and (max-width: 800px) {
    * {
        background-color: black;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: dens;
        justify-content: center;
        margin-left: 2rem;
    }
}
