* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Nanum Myeongjo";
    text-transform: uppercase;
    color: black;
    text-align: center;
    overflow: visible;
}

h1 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-weight: 100;
    background-color: rgba(37, 97, 37, 0.1);
    padding: 0.1rem;
    color: rgb(3, 34, 3);
}

h3 {
    text-shadow: 1px 1px rgb(204, 204, 204);
    margin-bottom: 3rem;
}

.main-input {
    text-align: center;
}

input {
    height: 2rem;
    width: 15rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: solid;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1rem;
    font-weight: 100;
    height: 2.5rem;
    width: 12rem;
    background-color: rgba(37, 97, 37, 0.1);
    display: inline-block;
    cursor: pointer;
    padding-top: 0.6rem;
    border-radius: 3px;
    border-radius: 4px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: rgba(37, 97, 37, 0.3);
}

.inputfile + label {
    cursor: pointer;
}

.upload {
    width: 12rem;
    margin: 0;
    transform: translateX(-50%);
    margin-left: 50%;
}

#more-button,
#upload-button,
#prev-image,
#next-image,
#comment-name,
#comment-input,
.post,
input:focus {
    outline: 0;
}

#upload-button {
    font-size: 0.8rem;
    width: 6rem;
    height: 2.4rem;
    border: 0;
    background-color: rgba(37, 97, 37, 0);
    border-radius: 3px;
    margin-bottom: 1rem;
    margin-left: 0.7rem;
    margin-top: 0.3rem;
    border-radius: 4px;
}

#upload-button:hover,
#more-button:hover,
button:hover,
#next-image:hover,
#prev-image:hover,
.closeX:hover {
    background-color: rgba(37, 97, 37, 0.3);
}

#more-button {
    height: 2.5rem;
    width: 9rem;
    font-size: 1rem;
    background-color: rgb(25, 44, 25, 0.1);
    box-shadow: 0 14px 28px rgba(13, 22, 3, 0.3);
    margin-bottom: 2rem;
    border: 0;
    border-radius: 4px;
}

.hidden {
    visibility: hidden;
}

h3 {
    font-size: 1.5rem;
    margin-left: 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.grid-container-images {
    display: grid;
    grid-template-columns: repeat(3, 21rem);
    grid-template-rows: repeat(3, 24rem);
    justify-items: center;
    transform: translateX(-50%);
    margin-left: 50%;
    width: 60rem;
}

.grid-image {
    width: 21rem;
}

.upload {
    text-align: center;
}

img {
    border-radius: 10px;
    width: 17rem;
    height: 19rem;
    object-fit: cover;
    box-shadow: 0 14px 28px rgba(1, 2, 0, 0.25);
}

p {
    margin-left: 3rem;
    width: 10rem;
    height: 2rem;
}

/*Parent- Image -Component*/

.component {
    /* background-color: rgb(220, 228, 214); */
      /* background-color: rgb(249, 252, 246); */
    background-color: rgb(250, 253, 247);
    position: fixed;
    top: 2.5rem;
    left: 2.5rem;
    right: 2.5rem;
    bottom: 2.5rem;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 10vh 50vh 20vh;
    justify-items: center;
    border: 0.2rem solid rgb(126, 146, 126, 0.9);
    border-radius: 5px;
}

.closeX {
    grid-area: 1/2;
    justify-self: end;
    margin-top: 0.5rem;
    margin-right: 1rem;
    font-size: 1rem;
    color: rgb(253, 253, 253);
    text-shadow: 1px 1px rgb(144, 136, 136);
    height: 1.1rem;
}

h2 {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    color: rgba(30, 51, 30, 0.9);
    font-size: 150%;
}

.single-image-container {
    grid-area: 2/1;
    width: 80%;
    height: 100%;
    margin-bottom: 2rem;
}

.clicked-image {
    object-fit: contain;
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
    height: 100%;
    width: 100%;
}

.clicked-image img {
    border-radius: 8px;
}

#next-image,
#prev-image {
    background-color: rgb(253, 253, 253, 0.5);
    border: 0;
    border-radius: 4px;
    margin-bottom: 1rem;
    font-size: 80%;
}

.img-description {
    grid-area: 3/1;
    align-self: center;
    justify-self: center;
    color: rgb(3, 34, 3, 0.9);
    margin-top: 1rem;
    height: auto;
    width: 100%;
    font-size: 100%;
}

.p-component {
    margin: 0;
    width: 30rem;
    color: rgb(3, 34, 3, 0.9);
    word-wrap: break-word;
    width: 100%;
    height: auto;
}

/* Child- Comments - Component*/
.comments-component {
    grid-area: 2/2;
    justify-self: start;
    border-radius: 12px;
    height: 75vh;
    width: 50vw;
    overflow: scroll;
    box-shadow: 0 14px 28px rgba(13, 22, 3, 0.3);
    overflow: scroll;
    background-color: rgb(220, 228, 214);
}

::-webkit-scrollbar-track {
    background-color: rgb(220, 228, 214);
    border-radius: 8px;
}

::-webkit-scrollbar {
    width: 0.8rem;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

::-webkit-scrollbar-corner {
    background-color: rgb(220, 228, 214);
    border-radius: 8px;
}

#p-comments {
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-top: 1rem;
    text-align: center;
    font-size: 1.2rem;
    padding-top: 0.3rem;
    color: rgb(3, 34, 3);
}

#single-comment {
    text-align: center;
    margin: 1.3rem;
    padding: 1rem;
    background-color: rgb(253, 253, 253, 0.5);
    /* box-shadow: 0 8px 8px rgba(1, 1, 0, 0.25); */
    color: rgb(95, 95, 94);
    border-radius: 8px;
    word-wrap: break-word;
    border: 0.1rem solid rgb(126, 146, 126, 0.9);
}

#comment-name {
    width: 6rem;
    margin-left: 0;
    margin-bottom: 2rem;
    height: 1.5rem;
    background-color: rgb(253, 253, 253, 0.5);
    border: 0.1rem solid rgb(126, 146, 126, 0.9);
    border-radius: 8px;
}

#comment-input {
    width: 25rem;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 5rem;
    background-color: rgb(253, 253, 253, 0.5);
    border-radius: 4px;
    border: 0.1rem solid rgb(126, 146, 126, 0.9);
    border-radius: 8px;
}

.post {
    height: 1.5rem;
    width: 6rem;
    background-color: rgb(253, 253, 253, 0.5);
    border-radius: 8px;
    border: 0.1rem solid rgb(126, 146, 126, 0.9);
}

@media screen and (min-width: 300px) and (max-width: 960px) {
    h1 {
        font-size: 130%;
    }
    h3 {
        font-size: 100%;
        margin-left: 0;
    }

    #label {
        font-size: 80%;
        height: 2rem;
        width: 10rem;
    }

    .grid-container-images {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        place-items: center;
    }

    .component {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10vw 50vw 20vw;
        place-items: center;
        overflow: scroll;
    }

    h2 {
        grid-area: 1/1;
        font-size: 100%;
        align-self: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        color: rgba(47, 54, 47, 0.9);
    }

    .closeX {
        grid-area: 1/1;
        font-size: 80%;
        justify-self: end;
        align-self: start;
        margin-right: 1rem;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .single-image-container {
        grid-area: 2/1;
        width: 70%;
        height: 90%;
        justify-self: center;
        justify-items: center;
        margin: 1rem;
    }

    .clicked-image {
        margin-top: 0.3rem;
        margin-bottom: 0.5rem;
        height: 80%;
        box-shadow: 0 14px 28px rgba(1, 2, 0, 0.25);
    }

    #next-image,
    #prev-image {
        font-size: 60%;
    }

    .img-description {
        grid-area: 3/1;
        font-size: 70%;
        margin-bottom: 1rem;
        align-self: start;
        margin-top: 1rem;
    }

    .comments-component {
        grid-area: 4/1;
        width: 100%;
        text-align: center;
    }
    #p-comments {
        font-size: 80%;
        margin-top: 1rem;
    }

    #single-comment {
        font-size: 80%;
        padding: 0.3rem;
    }

    #comment-name {
        width: 5rem;
        font-size: 70%;
        margin-left: 0;
        margin-bottom: 1rem;
        height: 1.5rem;
    }

    #comment-input {
        width: 90%;
        margin-left: 1rem;
        margin-right: 1rem;
        height: 3rem;
        font-size: 70%;
    }

    .post {
        width: 4rem;
        font-size: 70%;
        margin-left: 0;
        margin-bottom: 1rem;
        height: 1.5rem;
    }
}
